.tabs > ul {
  padding: 0;
}

.tabs .trigger {
  background: #fd52d2;
  border-radius: 6px;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}
.tabs .trigger.active {
  background: #dd03a7;
  color: #fff;
}
.tabs .content {
  background: #fbfbfb;
  border-radius: 6px;
  display: none;
  padding: 10px;
}
.tabs .content.active {
  display: block;
}
